{{#each listings}}
<div class="row">
  <div class="col s12 m12">
    <div class="card horizontal hoverable conversation">

      <div class="card-image">
        <img src="{{this.dataValues.imgUrl}}">
      </div>

      <div class="card-stacked">
        <div class="card-content">


          <p>{{this.dataValues.addressOne}}</p>
          <p>{{this.dataValues.addressTwo}}</p>
          <p>{{this.dataValues.city}}, {{this.dataValues.state}} {{this.dataValues.zipCode}}</p>

        </div>

        <div class="card-action">
          <!-- Replace this with the number of bids that have been made -->
          <p>Number of bids: {{this.dataValues.bidCount}}</p>
          <p>Number of Views: {{this.dataValues.viewCount}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{{/each}}
