<!-- Adding a navbar -->
{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <br>

    {{#each listings}}
      <div class="col s12 m4">

        <div class="card">
          <div class="card-image">
            <a href="#"><img src="./css/Images/home.jpeg"></a>
            <span class="card-title">{{this.dataValues.title}}</span>
            <span class="card-content"><i class="tiny material-icons">visibility</i> {{this.dataValues.viewCount}}</span>
            <span class="card-content"><i class="tiny material-icons">gavel</i> {{this.dataValues.bidCount}}</span>
          </div>
          <div class="card-content">
            <p>{{this.dataValues.description}}</p>
          </div>
          <div class="card-action">
            <p class="card-title">${{this.dataValues.bidAmount}}</p>
          </div>
        </div>

      </div>
    {{/each}}

  </div>
</div>
