<!-- Adding a navbar -->
{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <br>

    {{#each listings}}
      <div class="col s12 m4">

        <div class="card">

          <div class="card-image">
            <a href="#"><img src="{{ this.imgUrl }}"></a>
            <span class="card-title">{{ this.title }}</span>
            <span class="card-content"><i class="tiny material-icons">visibility</i> {{ this.viewCount }}</span>
            <span class="card-content"><i class="tiny material-icons">gavel</i> {{ this.bidCount }}</span>
          </div>

          <div class="card-content">
            <p id="non-modal-description">{{ this.description }}</p>
          </div>

          <div class="card-action center-align">
            <p id="non-modal-bid" class="card-title">${{ this.bidAmount }}</p>
            <!-- Adding a button to add a new listing -->
            <div class="center-align">
              <!-- Modal Trigger -->
              <a data-view-count="{{ this.viewCount }}"
              data-bid-count="{{ this.bidCount }}"
              data-home-id="{{ this.id }}"
              data-bid="{{ this.bidAmount }}"
              data-description="{{ this.description }}"
              data-img-url="{{ this.imgUrl }}"
              class="waves-effect waves-light btn modal-trigger red make-offer-btn"
              href="#modal-view-listing">Make Offer</a>
            </div>
          </div>

        </div>
      </div>

    {{/each}}

  </div>
</div>

<!-- Modal Structure -->
<div id="modal-view-listing" class="modal">
  <div class="modal-content">

    <h4>Make Offer</h4>
    <img id="modal-img">
    <div class="card-content">
      <p id="modal-description"></p>
    </div>
    <div class="card-action">
      <p class="card-title">Current Bid: $<span id="modal-bid-amount"></span></p>
    </div>

    <form class="col s12">

      <div class="row">
        <div class="input-field col s8">
          <div class="input-field col s12">
            <select multiple id="bid-terms">
              <option value="" disabled selected>Choose your terms</option>
              <option value="cash offer">Cash</option>
              <option value="as is">As is</option>
            </select>
            <label>Terms</label>
          </div>
        </div>
        <div class="input-field col s4">
          <input placeholder="$0.00" id="bid-amount" type="text" class="validate">
          <label for="bid-amount">Bid</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Description of bid" id="bid-info" type="text" class="validate">
          <label for="bid-info">Bid info</label>
        </div>
      </div>

    </form>

    <div class="row">
      <div class="btn modal-close" id="place-bid">
        <span>Place Bid</span>
      </div>
    </div>

  </div>
</div>
